// Place all the styles related to the Institution controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.table {
  font-family: arial, sans-serif;
  width: 100%;
  border: 1px solid black;
}

.td, .th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}
.images_customized{
    width: auto;
    height: 10rem;
    padding: 1rem;
}